@mixin cta($bg: unset, $color: inherit, $padding: 6px 12px) {
  background-color: $bg;
  color: $color;
  border-radius: 22px;
  padding: $padding;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}
