@mixin cta($bg: unset, $color: #eee, $padding: 6px) {
  background-color: $bg;
  color: $color;
  border-radius: 22px;
  padding: $padding;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}

@mixin dark {
  @media (prefers-color-scheme: dark) {
    body:not([class~="theme-light"]) {
      @content;
    }
  }
  .theme-dark {
    @content;
  }
}
