<form method="post" action="{{ path('website_delete', {'id': website.id}) }}" onsubmit="return confirm('Supprimer ce lien ?');" class="form-delete">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ website.id) }}">
    <button class="button-secondary">Supprimer</button>
</form>
