<form method="post" action="{{ path('website_delete', {'id': website.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" class="form-delete">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ website.id) }}">
    <button class="button-secondary">Delete</button>
</form>
