{% extends 'base.html.twig' %}

{% block title %}Edit link{% endblock %}

{% block body %}
    <h1 class="text-center">Edit link</h1>

    <div class="form-no-modal">
        {{ include('website/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('website/_delete_form.html.twig') }}
    </div>
{% endblock %}
