{% extends 'base.html.twig' %}

{% block title %}Website index{% endblock %}

{% block body %}
    <div id='website-app'></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.USER = {{ app.user ? app.user.id : null }}
    </script>
    {{ encore_entry_script_tags('website') }}
{% endblock %}
