{% extends 'base.html.twig' %}

{% block title %}Website index{% endblock %}

{% block body %}
    <div id='website-app'></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('website') }}
{% endblock %}
