{% extends 'base.html.twig' %}

{% block title %}Add a new link{% endblock %}

{% block body %}
    <h1 class="text-center">Add a new link</h1>

    <div class="form-no-modal">
        {{ include('website/_form.html.twig') }}
    </div>
{% endblock %}
