{% extends 'base.html.twig' %}

{% block title %}Lien{% endblock %}

{% block body %}

    <p>{{ website.url }}</p>
    <p>{{ website.comment }}</p>

    {% if app.user and app.user == website.owner %}
        <a href="{{ path('website_edit', {'id': website.id}) }}">Editer</a>
        {{ include('website/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
