{% extends 'base.html.twig' %}

{% block title %}Mises à jour{% endblock %}

{% block body %}
    <div class="hero-section">
        <h1 class="hero-title">Mises à jour</h1>
        <p>Chronologie des nouvelles fonctionnalités implémentées.</p>
    </div>

    <ul class="listMargin-lg mt-1">
        <li>
            <div class="card">
                <div class="card-header">
                    <div class="card-subtitle text-muted">
                    27 Mai 2021
                    </div>
                    <div class="card-title">Suivez les sujets qui vous intéressent</div>
                </div>
                <div class="card-body">
                    <p class="card-text">Vous pouvez maintenant suivre les sujets qui vous intéressent. Les sujets que vous suivez seront accessible via l'onglet "Sujets suivis" dans la page de votre profil.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="card">
                <div class="card-header">
                    <div class="card-subtitle text-muted">
                    22 Mai 2021
                    </div>
                    <div class="card-title">Créez des sujets privés</div>
                </div>
                <div class="card-body">
                    <p class="card-text">Vous pouvez maintenant créer des sujets privés qui ne seront visible que par vous.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="card">
                <div class="card-header">
                    <div class="card-subtitle text-muted">
                    20 Mai 2021
                    </div>
                    <div class="card-title">Thème nuit (dark mode)</div>
                </div>
                <div class="card-body">
                    <p class="card-text">Choisissez l'apparence du site. Votre préférence sera enregistré dans un cookie.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="card">
                <div class="card-header">
                    <div class="card-subtitle text-muted">
                    11 Mai 2021
                    </div>
                    <div class="card-title">Modérez vos sujets ouverts</div>
                </div>
                <div class="card-body">
                    <p class="card-text">Vérifier les contributions des utilisateurs pour vos sujets ouverts afin de les garder cohérents.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="card">
                <div class="card-header">
                    <div class="card-subtitle text-muted">
                    7 Mai 2021
                    </div>
                    <div class="card-title">Créez des sujets ouverts</div>
                </div>
                <div class="card-body">
                    <p class="card-text">Ouvrez vos sujets pour les alimenter avec les contributions des utilisateurs.</p>
                </div>
            </div>
        </li>
    </ul>
{% endblock %}
