{% extends 'base.html.twig' %}

{% block body %}
<div class="hero-section">
    <h1>Créez vos listes de liens web autour des sujets qui vous intéressent.</h1>
    <p>Ouvrez vos listes aux contributions des utilisateurs pour découvrir de nouveaux contenus.</p>
</div>
<ul class="d-flex button-row">
    <li><a href="{{ path('app_login') }}" class="button-secondary">Se connecter</a></li>
    <li><a href="{{ path('app_register') }}" class="button-primary">S'inscrire</a></li>
</ul>
{% endblock %}
