{% extends 'base.html.twig' %}

{% block body %}
    <div class="hero-section">
        <h1 class="hero-title">Confidentialité et vie privée</h1>
    </div>
    <div>
        <p>Quand vous vous connectez, un cookie de session est créé (sinon vous devriez vous reconnecter à chaque page).</p>
        <p>Et...bah c'est tout en fait.</p>
    </div>
{% endblock %}
