{% extends 'base.html.twig' %}

{% block body %}
    <div class="hero-section">
        <h1 class="hero-title">Confidentialité et vie privée</h1>
    </div>
    <div>
        <p>Quand vous vous connectez, un cookie de session "PHPSESSID" et un cookie "REMEMBERME" sont créés pour ne pas avoir à vous reconnecter à chaque page et quand vous revenez sur le site.</p>
        <p>Un cookie "theme" est créé quand vous changez le thème du site.</p>
        <p>Aucune donnée de navigation et donnée personnelle n'est collectée.</p>
    </div>
{% endblock %}
