.alertContainer {
  margin-bottom: 1rem;
  width: max-content;
}

.alert {
  padding: 6px 8px;
  border-radius: var(--radius);
  width: 100%;
}

.alert-success {
  background-color: var(--success);
}

.alert-warning {
  background-color: var(--warning);
}

.alert-error {
  background-color: var(--error);
}

.alert-info {
  background-color: var(--info);
}
