.listMargin-sm > * + * {
  margin-top: 8px;
}

.listMargin-lg > * + * {
  margin-top: 16px;
}

.card {
  background-color: var(--molecule-background);
  border-radius: var(--radius);
  width: 100%;
  max-width: 540px;
  margin: auto;
  padding: 8px 16px;
}

.card-body {
  padding-bottom: 8px;
  padding-top: 8px;
}

.card-title {
  font-weight: bold;
  flex: 1;
}

.card-subtitle {
  font-size: 14px;
  margin-bottom: 8px;
}

.card-title,
.card-subtitle,
.card-text {
  word-wrap: break-word;
}

.status {
  position: relative;
  margin-left: 16px;
}

.status::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: -12px;
  border-radius: 50%;
  transform: translateY(-50%);
}

.status-closed::before {
  background-color: var(--error);
}

.status-open::before {
  background-color: var(--success);
}

.card-actions {
  font-size: 14px;
}

.outline {
  border: 2px solid var(--warning);
  background: transparent;
}

.outline-alert {
  fill: var(--warning);
  color: var(--warning);
  margin-bottom: 8px;
}
