.itemsContainer {
}

.listMargin-sm > * + * {
  margin-top: 8px;
}

.listMargin-lg > * + * {
  margin-top: 16px;
}

.card {
  background-color: white;
  border-radius: var(--radius);
  width: 100%;
  padding: 16px;
}

.card-header,
.card-body {
  margin-bottom: 8px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-subtitle {
  margin-top: 6px;
}

.card-text {
  margin-top: 12px;
}

.card-title,
.card-subtitle,
.card-text {
  word-wrap: break-word;
}
