.itemsContainer {
}

.listMargin-sm > * + * {
  margin-top: 8px;
}

.listMargin-lg > * + * {
  margin-top: 16px;
}

.card {
  background-color: white;
  border-radius: var(--radius);
  width: 100%;
  padding: 16px;
}

.card-header,
.card-body {
  margin-bottom: 8px;
}

.card-title {
  font-weight: bold;
  flex: 1;
}

.card-subtitle {
  font-size: 14px;
  margin-bottom: 8px;
}

.card-title,
.card-subtitle,
.card-text {
  word-wrap: break-word;
}
