.copyToClipboard {
  display: flex;
  width: max-content;
  border-radius: 22px;
  overflow: hidden;
  padding: 2px 3px;
  border: 1px solid var(--color-muted);
  flex-wrap: wrap;
  width: 100%;
}

.copyToClipboard input {
  background: none;
  outline: none;
  flex: 1 auto;
}

.copyToClipboard button {
  background: var(--white);
}

@media screen and (min-width: 768px) {
  .copyToClipboard {
    max-width: 340px;
  }
}
