{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h1>Administration</h1>
    <p>{{ users|length }} users</p>
    <ul class="listMargin-lg">
    {% for user in users %}
        <li>        
            <div class="card d-flex space-between">
                <a href="{{ path('user_profile', {'username': user.username}) }}">{{ user.username }}</a>
                {% if app.user is not same as(user) %}
                    <a href="{{ path('app_home', {'_switch_user': user.username}) }}">Impersonate</a>
                {% endif %}
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}

