@import "~bootstrap/scss/bootstrap";
// Variables
// Static variables
$font: "Arial", sans-serif;
// Dynamic variables
:root {
  --background: #f5f4f8;
}

// Tools
@import "tools/reset";

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $font;
  background-color: var(--background);
}
