// Variables
// Static variables
$font: "Arial", sans-serif;
// Dynamic variables
:root {
  --primary: #be01be;
  --secondary: #4901be;
  --color-dark: #111111;
  --color-light: #fdfdfd;
  --color-muted: #757575;
  --background: #f5f4f8;
  --background-muted: #ececec;
  --border: #757575;
  --success: #76ff5b;
  --warning: #fff155;
  --error: #ff4664;
  --info: #ededf0;
  --radius: 8px;
  --topBarHeight: 42px;
}

// Tools
@import "tools/reset";
@import "tools/typography";
@import "tools/mixin";

// Atomes
@import "atomes/button.scss";
@import "atomes/pill.scss";
@import "atomes/input.scss";

// Molecules
@import "molecules/alert.scss";
@import "molecules/card.scss";

// Organisms
@import "organisms/nav.scss";
@import "organisms/modal.scss";
@import "organisms/form.scss";

// Templates
@import "templates/layout.scss";

body {
  font-family: $font;
  background-color: var(--background);
}
