// Variables
// Static variables
$font: "Arial", sans-serif;
// Dynamic variables
:root {
  --background: #f5f4f8;
  --molecule-background: #ffffff;
  --color: #222;
  --muted: #6f6f6f;
  --contrast: #b0f;
  --border: #d2d7e1;

  --success: #76ff5b;
  --warning: #ffb555;
  --error: #ff5874;
  --info: #ededf0;

  --radius: 8px;
  --topBarHeight: 42px;
}

// Tools
@import "tools/reset";
@import "tools/typography";
@import "tools/mixin";
@import "tools/spacing";

// Atomes
@import "atomes/button.scss";
@import "atomes/pill.scss";
@import "atomes/input.scss";
@import "atomes/image.scss";

// Molecules
@import "molecules/alert.scss";
@import "molecules/card.scss";
@import "molecules/copyToClipboard.scss";

// Organisms
@import "organisms/nav.scss";
@import "organisms/modal.scss";
@import "organisms/form.scss";

// Templates
@import "templates/layout.scss";

// Dark mode
@include dark {
  --background: #313a4f;
  --molecule-background: #5c6780;
  --color: #f0f0f0;
  --muted: #acb1be;
  --contrast: #3e5fdf;
  --border: #8e98ae;
  --info: #8e98ae;
}

body {
  font-family: $font;
  background-color: var(--background);
  color: var(--color);
}
