:root {
  --container: calc(100% - 40px);
  --container-max: 1000px;
  --padding: 21px;
}

%container-margin,
.container-margin {
  width: calc(100% - var(--padding) * 2);
  max-width: var(--container);
  margin-left: auto;
  margin-right: auto;
}

%container-padding,
.container-padding {
  width: 100%;
  padding-left: calc(50% - var(--container) / 2);
  padding-right: calc(50% - var(--container) / 2);
}

.hero-section {
  margin-bottom: 2rem;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-vertical-centered {
  align-items: center;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-flex-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.align-start {
  align-items: flex-start;
}

footer {
  @extend %container-padding;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
}

@media only screen and (min-width: 1040px) {
  :root {
    --container: 1000px;
  }
}
