.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  height: var(--topBarHeight);
  top: 0;
  background-color: var(--background);
  z-index: 999;
}

.navbar-toggler {
  height: 100%;
  width: var(--topBarHeight);
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: var(--topBarHeight);
}

.navbar-auth {
  min-width: var(--topBarHeight);
  padding: 0 calc(var(--topBarHeight) / 2);
}

.navbar-username {
  display: none;
}

.navbar-nav-wrapper {
  position: fixed;
  top: var(--topBarHeight);
  bottom: 0;
  overflow-y: auto;
  background-color: var(--background);
  transition: 0.5s ease-in-out;
  width: 100%;
  left: -100%;
}

.navbar-nav {
  overflow: hidden;
}

.nav-item {
  line-height: var(--topBarHeight);
}

.nav-link,
.nav-item span {
  display: block;
  height: var(--topBarHeight);
  white-space: nowrap;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  padding: 0 var(--topBarHeight);
}

.nav-link[aria-current] {
  color: var(--primary);
}

.js-nav-visible {
  left: 0;
}

.js-nav-is-open {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }

  .navbar-brand {
    padding: 0 calc(var(--topBarHeight) / 2);
  }

  .navbar-username {
    display: inline;
  }

  .navbar-nav-wrapper {
    position: sticky;
    flex: 1;
    background-color: inherit;
    color: inherit;
  }

  .navbar-nav {
    display: flex;
  }
}
