<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% for label, messages in app.flashes %}
            <div class="flashes">
            {% for message in messages %}
                <flash-message label={{ label }}>{{ message }}</flash-message>
            {% endfor %}
            </div>
        {% endfor %}  
        
        {% block body %}{% endblock %}
    </body>
</html>
