<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Shareintel{% endblock %}</title>
        <meta name="description" content="Partagez vos listes et ouvrez les aux contributions d'utilisateurs pour découvrir de nouveaux contenus.">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script>
                window.USER = {{ app.user ? app.user.id : 0 }}
            </script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include "partials/nav.html.twig" %}

        <main class="container-margin mt-2">
            {% include "partials/alert.html.twig" %}
            {% block body %}{% endblock %}
        </main>

        <footer class="text-center">
        </footer>
    </body>
</html>
