<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Save This Link{% endblock %}</title>
        <meta name="description" content="A simple tool to save and share links">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script>
                window.USER = {{ app.user ? app.user.id : null }}
            </script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include "partials/nav.html.twig" %}

        <main class="container-margin">
            {% include "partials/alert.html.twig" %}
            {% block body %}{% endblock %}
        </main>

        <footer class="text-center">
            <a href={{ path("app_home") }}>Sitename</a>
        </footer>
    </body>
</html>
