{% extends 'base.html.twig' %}

{% block title %}Create a new theme{% endblock %}

{% block body %}
    <h1 class="text-center">Create a new theme</h1>

    <div class="form-no-modal">
        {{ include('theme/_form.html.twig') }}
    </div>
{% endblock %}
