{% extends 'base.html.twig' %}

{% block title %}Editer le sujet{% endblock %}

{% block body %}
    <h1 class="text-center">Editer le sujet</h1>

    <div class="form-no-modal">
        {{ include('topic/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>
{% endblock %}
