{% extends 'base.html.twig' %}

{% block title %}Créer un sujet{% endblock %}

{% block body %}
    <h1 class="text-center">Créer un sujet</h1>

    <div class="form-no-modal">
        {{ include('topic/_form.html.twig') }}
    </div>
{% endblock %}
