button {
  border: none;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
  background-color: unset;
}

button + * {
  margin-left: 8px;
}

.button-column > *,
.button-row > * {
  margin-left: 8px;
  margin-top: 8px;
}

.button {
  @include cta();
}

.button-primary {
  @include cta(
    $bg: var(--primary),
    $color: var(--color-light),
    $padding: 6px 12px
  );
}

.button-primary svg {
  fill: var(--white);
}

.button-secondary {
  @include cta($padding: 4px 10px);
  border: 1px solid var(--color-muted);
}

.button-big {
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .button-column > * + * {
    margin-top: 8px;
  }

  .button-row > * + * {
    margin-left: 8px;
  }
}
