<form method="post" action="{{ path('account_delete', {'id': app.user.id }) }}" onsubmit="return confirm('Are you sure you want to delete your account ? All your data will be lost.');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
    <button class="button-secondary">Delete my account</button>
</form>
