{% extends 'base.html.twig' %}

{% block title %}Editer mon profil{% endblock %}

{% block body %}
    <h1 class="text-center">Editer mon profil</h1>

    <div class="form-no-modal">
        {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>
    <div class="d-flex justify-flex-center mt-1">
        <a href="{{ path('password_edit') }}" class="button-secondary">Modifier mon mot de passe</a>
    </div>
{% endblock %}
