{% extends 'base.html.twig' %}

{% block title %}Editer mon profil{% endblock %}

{% block body %}
    <h1 class="text-center">Editer mon profil</h1>

    <div class="form-no-modal">
        {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>
{% endblock %}
