{% extends 'base.html.twig' %}

{% block title %}Edit your profile{% endblock %}

{% block body %}
    <h1 class="text-center">Edit your profile</h1>

    <div class="form-no-modal">
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
