{% extends 'base.html.twig' %}

{% block title %}Your profile{% endblock %}

{% block body %}
    <div id='theme-app'></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('theme') }}
{% endblock %}